/*commom shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}


.header{
    
}

.banner{
    margin: 0%;
    padding: 240px 972px 197px 365px;
    display: flex;    
    justify-content: space-between;  
    max-width: 500px; 
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}
.text-primary{
    color: #E55473;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15PX 35PX;

}

.banner-content{
    width: 1920px;
    height: 850px;
    
}
.banner .profile-pic{
    width: 635px;
    height: 800px;
    padding: 1045px 240px px 417px ;
    justify-content: right;
    display: flex;
}
.banner-greeting{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0%;
    margin-top: %;
    padding: 40PX 72PX 197PX 3PX;
    justify-content:space-between; 
    width: 708px;
    height: 288px;  
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 40PX 40px 18PX px;
    width: 634px;
    height: 90px;
    
}

/*main section styles*/

main{
    max-width: 1920px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/*about section styles*/
.about{
    
    border-radius: 300px;
    background: #FFF;
    margin: 30px 0px;
    padding-bottom: 0px;
    margin-top: 0%;
    
}



.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: auto;   
    

}
.about-info-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px;
}
.about-info{
    text-align: center;
    width: 1920px;
    height: 4867px;
    background: #FFF;
    padding: 76px;
    border-top-right-radius: 5%;
    display: flex;
}

.background-color{
    
}
 .underline{
    text-decoration: underline;
 }
 .info-title{
    box
 }

 .border{
    display: flex;
    justify-content:space-between;
    width: 1922px;
    height: 620px;
 }

 .section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 537px;
    height: 48px;
    padding-top: 0%;
    display: flex;

 }

 .what-i-do-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 594px;
    height: 60px;
    padding: 393px 933px 0px 0px;
    


 }
 .center{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 423px 962px 230px 342px; 

 }

 .section-title-instagram{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 180px;
    height: 48px;
    padding: 870px 870px 137px 1682px;
    text-align: center;
    
    
 }
 .instagram{
    display: flex;
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 663px 663px 3209px 1598px;
    
 }
 .flowers{
    gap: 81px;
    display: flex;
 }
 
 .background image{

    background-image: url(/images/background.png)
    background-size: cover

 }
.off-color{color:#E55473;}

 .deals-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

 }

 .deals-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
 }

 .button-style{
    display: flex;
    gap: 560px;
    border: 0;
    border: none;
 }

 .button-email{
    border-radius: 8px;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    

 }

 .Subscribe{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    width: 88px;
    height: 27.429px;
    flex-direction: column;
    background: #E55473;

 }

 .flowers{
    
    size: 100px;
    background-size: cover;
    background-position: center;
 }

 

 /*footer style*/
 footer{
    display: flex;
    background: #111010;
    width: 1922px;
    height: 449px;

    
 }
 .section-title-footer{
    color: #FFFFFF
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    padding: 128px 263px 831px 832px;
    text-align: center;
 }
 .section-description-footer{
    
    display: flex;
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    
 }
 .section-footer{
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

 }